body {
  font-family: "Noto Serif", serif;
  color: #fff;
  background-color: #000;
}

#title {
  font-family: 'Merriweather';
  text-align: center;
  padding: 10;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: #fff;
}

#legend {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px;
  font-size: 12px;
}

#legend .item {
  line-height: 12px;
  padding: 0 10px 0 4px;
}

#legend .item.infections {
  border-left: 12px solid #19A0AA;
}

#legend .item.hospitalizations {
  border-left: 12px solid #F15F36;
}

#legend .item.deaths {
  border-left: 12px solid #5d0369;
}

#chart-wrapper {
  height: 1000px;
}